In [ ]:
variable_groups = {
'LOT': ['X185',
  'X186',
  'X187',
  'X188',
  'X189',
  'X190',
  'X191',
  'X192',
  'X193',
  'X194'],
'SPOŻYWCZE': ['X85',
  'X86',
  'X87',
  'X88',
  'X89',
  'X90',
  'X91',
  'X92',
  'X93',
  'X94',
  'X95',
  'X96',
  'X97',
  'X98',
  'X99',
  'X100',
  'X101',
  'X102',
  'X103',
  'X104',
  'X135',
  'X136',
  'X137',
  'X138',
  'X139',
  'X140',
  'X141',
  'X142',
  'X143',
  'X144'],
'BANKOMAT': ['X1',
  'X2',
  'X3',
  'X4',
  'X5',
  'X6',
  'X7'],
'MIESZKANIE ': ['X8',
  'X9',
  'X10',
  'X11',
  'X12',
  'X13',
  'X14',
  'X15',
  'X16',
  'X17',
  'X65',
  'X66',
  'X67',
  'X68',
  'X69',
  'X70',
  'X71',
  'X72',
  'X73',
  'X74',
  'X75',
  'X76',
  'X77',
  'X78',
  'X79',
  'X80',
  'X81',
  'X82',
  'X83',
  'X84',
  'X115',
  'X116',
  'X117',
  'X118',
  'X119',
  'X120',
  'X121',
  'X122',
  'X123',
  'X124',
  'X215',
  'X216',
  'X217',
  'X218',
  'X219',
  'X220',
  'X221',
  'X222',
  'X223',
  'X244',
  'X245',
  'X246',
  'X247',
  'X248',
  'X249',
  'X250',
  'X251',
  'X252',
  'X253',
  'X263',
  'X264',
  'X265',
  'X266',
  'X267',
  'X268',
  'X269',
  'X270',
  'X271',
  'X272',
  'X293',
  'X294',
  'X295',
  'X296',
  'X297',
  'X298',
  'X299',
  'X300',
  'X301',
  'X302'],
'DZIECI ': ['X18',
  'X19',
  'X20',
  'X21',
  'X22',
  'X23',
  'X24',
  'X25',
  'X26',
  'X27',
  'X105',
  'X106',
  'X107',
  'X108',
  'X109',
  'X110',
  'X111',
  'X112',
  'X113',
  'X114',
  'X303',
  'X304',
  'X305',
  'X306',
  'X307',
  'X308',
  'X309',
  'X310',
  'X311',
  'X312'],
'ZDROWIE': ['X28',
  'X29',
  'X30',
  'X31',
  'X32',
  'X33',
  'X34',
  'X35',
  'X36',
  'X37'],
'SAMOCHÓD': ['X38',
  'X39',
  'X40',
  'X41',
  'X42',
  'X43',
  'X44',
  'X45',
  'X46',
  'X47'],
'WYDATKI_OGÓLNIE': ['X48',
  'X49',
  'X50',
  'X51',
  'X52',
  'X53',
  'X54'],
'KULTURA': ['X55',
  'X56',
  'X57',
  'X58',
  'X59',
  'X60',
  'X61',
  'X62',
  'X63',
  'X64',
  'X125',
  'X126',
  'X127',
  'X128',
  'X129',
  'X130',
  'X131',
  'X132',
  'X133',
  'X134',
  'X145',
  'X146',
  'X147',
  'X148',
  'X149',
  'X150',
  'X151',
  'X152',
  'X153',
  'X154',
  'X155',
  'X156',
  'X157',
  'X158',
  'X159',
  'X160',
  'X161',
  'X162',
  'X163',
  'X164',
  'X165',
  'X166',
  'X167',
  'X168',
  'X169',
  'X170',
  'X171',
  'X172',
  'X173',
  'X174',
  'X175',
  'X176',
  'X177',
  'X178',
  'X179',
  'X180',
  'X181',
  'X182',
  'X183',
  'X184',
  'X254',
  'X255',
  'X256',
  'X257',
  'X258',
  'X259',
  'X260',
  'X261',
  'X262',
  'X273',
  'X274',
  'X275',
  'X276',
  'X277',
  'X278',
  'X279',
  'X280',
  'X281',
  'X282',
  'X283',
  'X284',
  'X285',
  'X286',
  'X287',
  'X288',
  'X289',
  'X290',
  'X291',
  'X292',
  'X313',
  'X314',
  'X315',
  'X316',
  'X317',
  'X318',
  'X319',
  'X320',
  'X321',
  'X322',
  'X332',
  'X333',
  'X334',
  'X335',
  'X336',
  'X337',
  'X338',
  'X339',
  'X340',
  'X341'],
 'WPŁYWY_OGÓLNIE': ['X351',
  'X352',
  'X353',
  'X354',
  'X355',
  'X356',
  'X357'],
'WYNAGRODZENIE': ['X358',
  'X359',
  'X360',
  'X361',
  'X362',
  'X363',
  'X364',
  'X379',
  'X380',
  'X381',
  'X382',
  'X383',
  'X384',
  'X385'],
'WPŁYWY': ['X365',
  'X366',
  'X367',
  'X368',
  'X369',
  'X370',
  'X371',
  'X372',
  'X373',
  'X374',
  'X375',
  'X376',
  'X377',
  'X378'],
'WIEK': ['X386']
                   }

In [ ]:
import sys
sys.path.append("..")
from src.data.make_processed_dataset_NEW import train_test_split_by_income
from src.models.metrics import wpe_10
from src.utils import seed_everything, read_data
import pandas as pd

In [ ]:
X_train, y_train = read_data("../data/processed/data_train_NEW.csv")
X_val, y_val = read_data("../data/processed/data_val_NEW.csv")

X_train = pd.concat([X_train, X_val])
y_train = pd.concat([y_train, y_val])

data_train = X_train
data_train['Y'] = y_train

data_train, data_val = train_test_split_by_income(data_train, test_size=0.10)

X_train = data_train.drop('Y', axis=1)
y_train = data_train['Y']

X_es = data_val.drop('Y', axis=1)
y_es = data_val['Y']

X_test, y_test = read_data("../data/processed/data_test_NEW.csv")

In [ ]:
data_test = X_test
data_test['income'] = data_test['X360']+data_test['X381']
data_test.Y = y_test
for key in variable_groups.keys():
    data_test[key.strip()] = data_test[list(variable_groups[key])].sum(axis = 1)

In [ ]:
data_test

In [ ]:
variable_groups['WIEK']

In [64]:
def print_sum(groups, pid):
    dct = {
        'WYNAGRODZENIE': ['X360', 'X381'],
        'WYDATKI_OGÓLNIE':['X50'],
        'WPŁYWY_OGÓLNIE':['X353'],
        'KULTURA':["X57","X127" ,"X147", "X157", "X167", "X177"],
        'MIESZKANIE':["X10", "X67","X77","X117", "X217","X246","X267" ,"X295"],
        'BANKOMAT':['X3'],
        'SPOŻYWCZE':["X87", "X97", "X127", "X137"],
        'WIEK':['X386']}
    print(f'id: {pid}')
    for group in groups:
        print(group,X_test[list(dct[group])].iloc[pid].sum(axis = 0))

In [65]:
print_sum(['WPŁYWY_OGÓLNIE','WYNAGRODZENIE', 'KULTURA','WYDATKI_OGÓLNIE'], 1939)

id: 1939
WPŁYWY_OGÓLNIE 923
WYNAGRODZENIE 708
KULTURA 0
WYDATKI_OGÓLNIE 1255

In [66]:
print_sum(['WPŁYWY_OGÓLNIE','WYNAGRODZENIE', 'KULTURA','WYDATKI_OGÓLNIE'], 2783)

id: 2783
WPŁYWY_OGÓLNIE 4926
WYNAGRODZENIE 3218
KULTURA 0
WYDATKI_OGÓLNIE 5233

In [67]:
print_sum(['WYDATKI_OGÓLNIE','WYNAGRODZENIE','SPOŻYWCZE','WPŁYWY_OGÓLNIE'], 1918)

id: 1918
WYDATKI_OGÓLNIE 47038
WYNAGRODZENIE 24109
SPOŻYWCZE 1593
WPŁYWY_OGÓLNIE 41437

In [55]:
print_sum(['WIEK','KULTURA', 'SPOŻYWCZE','WYNAGRODZENIE'],2493)

id: 2493
WIEK 26
KULTURA 347
SPOŻYWCZE 2032
WYNAGRODZENIE 23856

In [57]:
print_sum(['KULTURA', 'SPOŻYWCZE','WYNAGRODZENIE','BANKOMAT'],170)

id: 170
KULTURA 136
SPOŻYWCZE 3762
WYNAGRODZENIE 24291
BANKOMAT 8910

In [59]:
print_sum(['WYNAGRODZENIE','SPOŻYWCZE','KULTURA','WPŁYWY_OGÓLNIE'],382)

id: 382
WYNAGRODZENIE 35215
SPOŻYWCZE 3749
KULTURA 2089
WPŁYWY_OGÓLNIE 38868

In [60]:
print_sum(['WPŁYWY_OGÓLNIE','WYNAGRODZENIE', 'WYDATKI_OGÓLNIE','SPOŻYWCZE'], 2042)

id: 2042
WPŁYWY_OGÓLNIE 110824
WYNAGRODZENIE 100133
WYDATKI_OGÓLNIE 83790
SPOŻYWCZE 7030

In [61]:
print_sum(['WPŁYWY_OGÓLNIE','BANKOMAT','SPOŻYWCZE','WYNAGRODZENIE'], 2503)

id: 2503
WPŁYWY_OGÓLNIE 50956
BANKOMAT 0
SPOŻYWCZE 1551
WYNAGRODZENIE 400

In [62]:
print_sum(['WYNAGRODZENIE','WIEK','WYDATKI_OGÓLNIE','WPŁYWY_OGÓLNIE'], 771)

id: 771
WYNAGRODZENIE 2737
WIEK 21
WYDATKI_OGÓLNIE 30675
WPŁYWY_OGÓLNIE 9482

In [8]:
data_test[    
    (data_test.income  >= 100) & (data_test.income < 16195.67) &
    
    (data_test.Y >= 849) & (data_test.Y < 3500) &
    
    (data_test.WPŁYWY_OGÓLNIE >= 0) & (data_test.WPŁYWY_OGÓLNIE < 14598.67) &
    
    #(data_test.WYDATKI_OGÓLNIE >= 0) & (data_test.WYDATKI_OGÓLNIE < 6830.67) &
    
    #(data_test.KULTURA >= 0) & (data_test.KULTURA < 2111) &

    (data_test.MIESZKANIE >= 0) & (data_test.MIESZKANIE < 1196) ]

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,MIESZKANIE,DZIECI,ZDROWIE,SAMOCHÓD,WYDATKI_OGÓLNIE,KULTURA,WPŁYWY_OGÓLNIE,WYNAGRODZENIE,WPŁYWY,WIEK
771,0,0,0,0,0,0,0,0,0,0,...,0.000000,0.0,1229.074299,658.031708,65085,8750.447075,13818,2740,0,21
897,0,300,2400,100,0,3,6,0,0,0,...,0.000000,0.0,388.066317,439.075519,22624,846.148785,7604,4399,0,27
1939,0,0,0,0,0,0,0,0,0,0,...,0.000000,0.0,8.005578,0.000000,1874,0.000000,2017,1308,0,24
2473,150,550,550,183,1,2,2,0,0,0,...,0.000000,0.0,0.000000,433.092487,13161,3607.943074,8632,3479,0,25
2783,0,0,0,0,0,0,0,0,0,0,...,0.000000,0.0,0.000000,48.007644,13724,0.000000,12898,8377,0,34
2852,0,0,0,0,0,0,0,0,0,0,...,0.000000,0.0,323.059328,32.004347,13458,1073.302818,9791,9662,0,24
3896,60,210,610,70,1,2,3,0,0,48,...,100.005101,0.0,703.078745,0.000000,27881,3434.250904,13748,301,0,23

In [73]:
data = pd.read_csv("../data/raw/temat_2_dane_NEW.csv", index_col = 0)

In [79]:
data.X50.quantile(q = 0.5)

54327.5